<div class="container mt-3">
  <app-produto *ngIf="showForm" [categorias]="categorias" [produto]="produto" (salvarEmitter)="salvarProduto($event)"></app-produto>

  <div *ngIf="!showForm">

    <button class="btn btn-primary" (click)="criar()">Novo</button>
    <div class="display-6">
      Produtos de Cadastrados:
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1">
          <table class="table" id="produtosTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col" class="d-none d-md-table-cell">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Categoria</th>
                <th scope="col">Opções</th>
                <th scope="col" class="d-none d-md-table-cell text-end">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of produtos">
                <td>{{p.id}}</td>
                <td>{{p.nome}}</td>
                <td>{{p.descricao}}</td>
                <td>{{p.preco | currency: 'BRL'}}</td>
                <td>{{p.categoria.nome}}</td>
                <td>
                  <span *ngIf="p.promocao" class="badge bg-success text-white me-1">P</span>
                  <span *ngIf="p.novoProduto" class="badge bg-primary text-white">L</span>
                </td>
                <td class="text-end">
                  <button class="btn p-1"><i class="bi bi-pencil"></i></button>
                  <button class="btn p-1"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
