<div *ngIf="produto" class="mt-3">
  <div class="display-6">
    Formulário de Cadastro:
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form [formGroup]="formGroupProduto" #ngformGroupProduto="ngForm">

        <div *ngIf="produto.id" class="row mb-3 mt-3">
          <label for="inputId" class="col-sm-2 col-form-label">ID:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="id" id="inputId" formControlName="id" readonly>
          </div>
        </div>

        <div class="row mb-3 mt-3">
          <label for="inputNome" class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nome" id="inputNome" formControlName="nome">
            <div *ngIf="ngformGroupProduto.submitted">
              <small *ngIf="pfgNome?.errors?.['required']" class="form-text text-danger">*Nome é requerido.</small>
              <small *ngIf="pfgNome?.errors?.['minlength']" class="form-text text-danger">*Tamanho mínimo de 3 caracteres.</small>
            </div>
          </div>
        </div>

        <div class="row mb-3 mt-3">
          <label for="inputDescricao" class="col-sm-2 col-form-label">Descrição:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="descricao" id="inputDescricao" formControlName="descricao">
            <div *ngIf="ngformGroupProduto.submitted">
              <small *ngIf="pfgDescricao?.errors?.['required']" class="form-text text-danger">*Descrição é requerido.</small>
            </div>
          </div>
        </div>
        <div class="row mb-3 mt-3">
            <label for="inputPreco" class="col-sm-2 col-form-label">Preço:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="preco" id="inputPreco" formControlName="preco">
                <div *ngIf="ngformGroupProduto.submitted">
                  <small *ngIf="pfgPreco?.errors?.['required']" class="form-text text-danger">*Preço é requerido.</small>
                </div>
            </div>

            <label for="selectCategoria" class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-4">
                <select class="form-select"
                    aria-label="Selecione uma categoria"
                    name="categoria"
                    id="selectCategoria"
                    formControlName="categoria"
                    [compareWith]="selectedCategoria">
                    <option *ngFor="let cat of categorias" [ngValue]="cat">
                      {{cat.nome}}
                    </option>
                </select>
                <div *ngIf="ngformGroupProduto.submitted">
                  <small *ngIf="pfgCategoria?.errors?.['required']" class="form-text text-danger">*Categoria é requerida.</small>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <label class="col-sm-2 col-form-label">Opções:</label>
            <div class="col-sm-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="promocao" id="CheckBoxPromocao" formControlName="promocao">
                  <label class="form-check-label" for="CheckBoxPromocao">
                    Promoção
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="novoProduto" id="CheckBoxNovoProduto" formControlName="novoProduto">
                  <label class="form-check-label" for="CheckBoxNovoProduto">
                    Lançamentos
                  </label>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary me-1" (click)="salvar()">Salvar</button>
                <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
