<div *ngIf="produto" class="mt-3">
  <div class="display-6">
    Formulário de Cadastro:
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form #formProduto="ngForm">
        <div class="row mb-3 mt-3">
          <label for="inputNome" class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nome" id="inputNome" required [(ngModel)]="produto.nome">
          </div>
        </div>
        <div class="row mb-3 mt-3">
          <label for="inputDescricao" class="col-sm-2 col-form-label">Descrição:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="descricao" id="inputDescricao" required [(ngModel)]="produto.descricao">
          </div>
        </div>
        <div class="row mb-3 mt-3">
            <label for="inputPreco" class="col-sm-2 col-form-label">Preço:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="preco" id="inputPreco" required [(ngModel)]="produto.preco">
            </div>

            <label for="selectCategoria" class="col-sm-2 col-form-label">Categoria:</label>
            <div class="col-sm-4">
                <select class="form-select" aria-label="Selecione uma categoria" name="categoria" id="selectCategoria" required
                  [(ngModel)]="produto.categoria">
                  <option *ngFor="let cat of categorias" [ngValue]="cat">
                    {{cat.nome}}
                  </option>

                </select>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <label class="col-sm-2 col-form-label">Opções:</label>
            <div class="col-sm-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="promocao" id="CheckBoxPromocao" [(ngModel)]="produto.promocao">
                  <label class="form-check-label" for="CheckBoxPromocao">
                    Promoção
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="novoProduto" id="CheckBoxNovoProduto" [(ngModel)]="produto.novoProduto">
                  <label class="form-check-label" for="CheckBoxNovoProduto">
                    Lançamentos
                  </label>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" (click)="salvar()" [disabled]="formProduto.invalid">Cadastrar</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
